/* Resetting CSS Properties */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* body */
body {
    background-color: #14213D;
}

/* Header Section */

header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

header .logo {
    width: 100px;
}

header h1 {
    text-align: center;
    font-size: 2.1rem;
}

/* Header Section */

/* Main Section */

main {
    color: #fff;
}

.student-register-form .form-field {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px auto;
}

.form-field label {
    font-size: 1.15rem;
}

.form-field input {
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    padding: 3px 3px 3px 5px;
    outline: 3px solid #14213D;
}

.form-field input:focus {
    outline: 3px solid #FCA311;
}

.form-buttons {
    width: fit-content;
    margin: 30px auto;
}

.form-buttons .btn,
.student-data-table .student-data-row .btn {
    padding: 10px 30px;
    border-radius: 3px;
    border: none;
    margin-right: 14px;
    background-color: #FCA311;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s linear;
}

.form-buttons .btn:hover,
.student-data-table .student-data-row .btn:hover {
    background-color: #f0ad40;
}

/* Student Data Table */

.student-data-table-container {
    margin: 80px auto;
}

.student-data-table-container-heading {
    text-align: center;
    font-size: 2rem;
}

.student-table {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 20px;
} 

main .student-data-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.student-data-table .student-data-row {
    display: flex;
}

.student-data-table .student-data-row .buttons .btn {
    padding: 5px 10px;
}

.student-data-table, th, td {
    border: 1px solid #fff;
}

.student-data-table .heading-row {
    display: flex;
}

.table-cell {
    width: 100%;
    display: block;
}

.heading-row .table-cell,
.student-data-row .table-cell {
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
}

main .student-data-list .table-cell .btn {
    padding: 5px 7px;
}

/* Main Section */


/* Footer Section */

footer {
    margin-top: 50px;
    background-color: #000;
    padding: 20px 0 5px 0;
}

footer p {
    color: #fff;
    text-align: center;
}

/* Footer Section */

/* Utility Classes */

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* Utility Classes */